.people-item {
  display: flex;
  border-bottom: 1px solid #1976D2;

  &.has-conversation {
    background-color: rgba(33, 150, 243, 0.5);
  }

  &-name {
    flex: 1;
    padding: 5px;
    overflow-wrap: anywhere;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: background-color 0.4s;

    &:hover {
      background-color: rgba(66, 165, 245, 0.4);
    }
  }
}
