.button {
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.4;
  }

  &:disabled:hover {
    transform: none;
  }
}
