:host {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 0 3px 0 #1976D2;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-title {
    color: #1976d2;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
  }

  .refresh {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-timer {
      position: absolute;
      top: 103%;
    }
  }
}

.groups-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
