:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  width: 600px;
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  font-size: 20px;

  &-data {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-child(even) {
      background-color: rgba(33, 150, 243, 0.4);
      color: white;
    }

    &-item {
      padding: 10px;
    }

    &-input {
      padding: 5px;
    }

    &-value {
      align-self: end;
    }

    &-static {
      display: flex;
      align-items: center;
    }

    &-edit {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .form-field {
        flex-direction: row;
      }

      .validation {
        list-style: none;

        &-item {
          font-size: 14px;
          color: #D32F2F;
        }
      }
    }
  }

  .edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #1976D2;

    &.done {
      color: #388E3C;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &.close {
      color: #D32F2F;
    }
  }
}
