:host {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: white;
  z-index: 999;
}

.notification {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: white;
}

.error {
  color: #D32F2F;
}

.success {
  color: #388E3C;
}
