<form class='form' [formGroup]='signInForm' (ngSubmit)='submit()'>
  <div class='form-field'>
    <label for='email'>Email</label>
    <input class='form-input' type='text' name='email' id='email' placeholder='Enter your email' formControlName='email'>
    <ul class='validation' *ngIf='email.invalid && (email.touched || email.dirty)'>
      <li class='validation-item' *ngIf='email.errors?.["required"]'>
        Please enter email
      </li>
      <li class='validation-item' *ngIf='email.errors?.["email"]'>
        Email have invalid format
      </li>
    </ul>
  </div>
  <div class='form-field'>
    <label for='password'>Password</label>
    <input class='form-input' type='password' name='name' id='password' placeholder='Enter password' formControlName='password' autocomplete='false'>
    <ul class='validation' *ngIf='password.invalid && (password.touched || password.dirty)'>
      <li class='validation-item' *ngIf='password.errors?.["required"]'>
        Please enter a password
      </li>
    </ul>
  </div>
  <app-button class='form-submit' type='submit' [color]='COLOR_BLUE' [disabled]='signInForm.invalid || fieldIsChanged()'>Sign Up</app-button>
</form>
