:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("/assets/connections.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
