:host {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  box-shadow: 0 0 3px 0 #1976D2;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-title {
    color: #1976d2;
  }

  .refresh {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-timer {
      position: absolute;
      top: 103%;
      color: #1976d2;
    }
  }
}

.people-list {
  list-style: none;
  overflow: scroll;
}
